# Server Configuration
PORT=5000

# MongoDB Atlas Cloud Database URI
MONGO_URI=mongodb+srv://priyanshu102938_db_user:<db_password>@cluster0.nobx0qb.mongodb.net/multi_agent_debate_db?retryWrites=true&w=majority&appName=Cluster0

# JWT Authentication Secret
JWT_SECRET=your_jwt_secret_key_here

# LLM API Keys
DEFAULT_PROVIDER=gemini

GEMINI_API_KEY=your_gemini_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
GROK_API_KEY=your_grok_api_key_here
